<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	   					   
 
<bean id="employee" class="com.bmc.Employee" >
<property name="empNo" value="17404"/>
<property name="name" value="Sachin"/>
<property name="designation" value="Developer"/>
<property name="messageSource" ref="messageSource"/>
</bean>
 

<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
<property name="basenames"><!-- fix name - basenames -->
<list>
<value>mymessages</value>
</list>
</property>
</bean>

</beans>  