<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	   					   

<bean id="employee" class="Employee">
</bean>

<bean id="addressA12" class="Address">
<property name="city" value="Pune"/>
</bean>
  
<bean id="addressA1" class="Address">
<property name="city" value="Pune1"/>
</bean>  
<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
</beans>  