<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	   					   

<bean id="triangle" class="Triangle">
<property name="pointA" ref="zeroPoint"/>   <!-- Dependency Injection Spring provides -->
<property name="pointB" ref="point2"/>
<property name="pointC" ref="point3"/>
</bean>

<bean id="zeroPoint" class="Point">   <!-- equivalent to calling new Point() -->
<property name="x" value="0" />
<property name="y" value="0" />
</bean>

<bean id="point2" class="Point">   
<property name="x" value="-20" />
<property name="y" value="0" />
</bean>

<bean id="point3" class="Point">  
<property name="x" value="20" />
<property name="y" value="0" />
</bean>

<bean class="DisplayNameBeanPostProcessor"/>
</beans>